<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>THE FLOORE CUSTOMERS</title>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <h1>Full Stack Developer Assignment</h1>
  <p> Thank you for taking the time do this assignment.
    The assignment will help both of us determine whether you are the right fit for the Full
    Stack developer position.
    You have up to 4 hours to complete this task. Even if you do not finish everything within
    the allocated time please send what you prepared at the end of the 4 hours.
  </p>
  <h3>Part 1 – Writing little code</h3>
  <p>For this assignment you need to develop a simple application for managing customers
    as follows:</p>
  <ol>
    <li> A screen that displays a list of customers that exist in the DB.
      The customer’s name will be a link to the Customer Details page where you can
      view the customer or update it. This screen will also contain a button to create
      new customer. It is up to you to decide how the functionality of the create button
      works.</li>
    <li> A Customer Details screen: Displays the following data – Customer number, name
      address and phone.
      There should be a Back button to return to the list and an update button that
      enables the fields to be updated (update mode).
      In update mode, there should be a cancel button (cancels the editing and returns
      to the original data) and a save button for saving in the DB.
      You should use the following:
      Client Side: Angular, design with bootstrap.
      Server Side: Node + Nest (preferably) or Node + Express
      DB – MongoDB (with mongoose).
      <ol>
        <li>Write clean code and use best practices and coding standards.</li>
        <li>As this is a Home Assignment, please share the code in Git and give us access.</li>
        <li>You will show us your solution in an online session that will be scheduled.</li>
      </ol>
    </li>
  </ol>
  <h3>Part 2 – Additional Questions – what can we do in case of ...:</h3>
  <p>In addition to writing the code, please think about the following questions (no need to
    implement, just to explain what needs to be done):</p>
  <ol>
    <li> In the case of having 2 different types of users, users that need to read only and
      users that can also update, what needs to be done?</li>
    <li> In the case of having millions of users entering the system – what are the
      potential implications and how would you deal with them?</li>
    <li> You now have a new requirement to create links between customers that are
      related to each other and display those relationships in the Customer Detail page
      in the ui. What needs to be done to achieve this?
    </li>
  </ol>

</body>

</html>