<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>THE FLOORE CUSTOMERS</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body class="container">
    <h4> Customer details</h4>
    <form>
        <div class="mb-3">
          <label for="customerName" class="form-label">Customer Name</label>
          <input type="text" class="form-control" id="customerName" aria-describedby="nameHelp">
          <div id="nameHelp" class="form-text">Add customer Name.</div>
        </div>
        <button type="submit" class="btn btn-primary" id="update-button">Submit</button>
      </form>

  </body>
</html>